<header class="navbar top-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #ffff; font-weight: bold;">>TodoList</a>
    </div>
</header>
<div class="custom-container">
    <main class="main">
        <nav class="nav flex-column projects">
            <ul class="projects__default">
                <li>
                    <a href="inbox">Inbox</a>
                </li>
                <li>
                    <a href="today">Today</a>
                </li>
                <li>
                    <a href="upcoming">Upcoming</a>
                </li>
            </ul>
            <p>Projects</p>
            <app-projects></app-projects>
            <ul class="projects__custom">
                <li>Example project</li>
            </ul>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProjectModal">
                Add new project
            </button>
        </nav>
        <div class="todos">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Today</th>
                    </tr>
                </thead>
                <tbody *ngFor="let todo of todos">
                    <tr>
                        <td><input class="form-check-input mt-0" type="checkbox"></td>
                        <td>{{todo.description}} {{todo.dueDate}}</td>
                        <td>{{todo.priority}}</td>
                        <td>{{todo.projectId}}</td>
                        <td class="action-column">
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-primary">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTodoModal">
                Add todo
            </button>
        </div>
    </main>
    
    <footer class="footer">Developed by Alexander Shpin</footer>
    
    <!-- Add Project Modal -->
    <div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addProjectModalLabel">Add project</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            form
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Todo Modal -->
    <div class="modal fade" id="addTodoModal" tabindex="-1" aria-labelledby="addTodoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addTodoModalLabel">Add todo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addTodoForm="ngForm" (ngSubmit)="onAddTodo(addTodoForm.value)">
                    <div class="form-group">
                        <label for="date">Description: </label>
                        <input type="text" class="form-control" id="description" ngModel name="description">
                    </div>
                    <div class="form-group">
                      <label for="date">Due date: </label>
                      <input type="date" class="form-control" id="date" value="{{date}}" ngModel name="date">
                    </div>
                    <div class="form-group">
                        <label for="priority">Priority: </label>
                        <select class="form-select" id="priority" ngModel name="priority">
                            <option value="High">High</option>
                            <option selected value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Project: </label>
                        <select class="form-select" id="project-select" ngModel name="projectName">
                            <!-- <option *ngFor="let project of projects" value="{{project}}">{{project}}</option> -->
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
        </div>
    </div>
    </div>


